body {
  font-family: Impact;
  line-height: 1.2;
  background-color:#00ffff;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
}

.accordion:hover .content {
  display: block;
}

.img {
  width: 500px;
}

.icon {
  visibility: hidden;
  background: url("./img/arrow-down-solid.svg");
  background-size: cover;
  width: 20px;
  height: 25px;
}

.container:hover .icon {
  visibility: visible;
}

.accordion:hover .icon {
  transform: rotate(180deg);
}

.input:checked + .title .icon {
  transform: rotate(180deg);
}

.content {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 150%;
  cursor: pointer;
  padding: 5% 10%;
  transition: 0.5s all;
}

.title:hover{
  background-color: #555;
}

.input {
  width: 0;
  height: 0;
  appearance: none;
}

.input:checked ~ .title {
  background-color: #a9a9a9;
}

.input:checked ~ .content {
  display: block;
}